/* External CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    min-height: 100%;
    margin: 0%;
}

/* Clear floats after the columns */
.column2 {
    float: right;
    width: 50%;
    min-height: 100%;
}

form {
    display:block;
    flex-direction: column;
    align-items:center;
    text-align: center;
    padding: 5%;
}

ul {
    list-style-type: none; 
    margin: 10%;
    width: 30%;
    padding: 0;
    display: inline-block;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgb(238, 238, 238);
    text-transform: uppercase;
    width: 100%;
}

li {
    min-width: 80px;
}

.links_nav a {
    display: inline-block;
    width: 20%;
    margin-right: 30px;
    text-transform: uppercase;
    list-style-type: none;
    text-indent: 140px;
    letter-spacing: 3px;
}

.btn_print {
	text-align: center;	
}

#footer {
    width: 100%;
    bottom: 0px;
    background-color: rgb(232, 232, 232);
    padding-top:20px;
    padding-bottom:50px;
    letter-spacing: 3px;
    display: block;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(238, 238, 238);
    height: 100px;
    position: fixed;
}