<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- External CSS Link -->
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!-- Responsive  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- External fonts nav bar  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Vue js -->
    <script src="./main.js"></script>
    <!-- Vue2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- font style sheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>LIST-IT</title>
</head>

<body>
    <!-- Header/ logo Section -->
    <header class="logo">
        <a href="./index.html">
            <h4 style="text-align:center; font-size: 30px; padding-top: 5%; padding-bottom: 5%; color:  #1e3b51;">
                LIST-IT</h4>
        </a>
    </header>

    <!-- Navigation -->
    <div class="nav">
        <ul>
            <li><a href="./profile.html"><i class="fa fa-user-o" style="font-size:48px;color:black"></i></a></li>
            <li><a href="./index.html"><i class="fa fa-plus-square-o" style="font-size:48px;color:black"></i></a></li>
            <li><a href="./timer.html"><i class="fa fa-hourglass-1" style="font-size:44px;color:black"></i></a></li>
            <li><a href="./notes.html"><i class="fa fa-sticky-note-o" style="font-size:48px;color:black"></i></a></li>
            <li><a href="./settings.html"><i class="fa fa-cog" style="font-size:48px;color:black"></i></a></li>
        </ul>
    </div>
    <div class="border"></div>

    <!-- Date Header -->
    <div class="header">
        <div>
            <h1 class="dailytaskheader">DAILY TASKS</h1>
        </div>

        <!-- HTML div elements for Vue Mix in -->
        <script>
            const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            const fullday = new Date();
            let day = days[fullday.getDay()];
            const date = new Date();
        </script>
    </div>

    <!-- Mix in showing day and date-->
    <div id="mix">
        <div id="day"> {{ dateDay }}</div>
        <br>
        <div id="date">{{ date }}</div>
    </div>

    <script>
        //mix in
        Vue.mixin({
            data() {
                return {
                    date: document.getElementById("date").innerHTML = date,
                }
            }
        });

        // global vue root instance returning variable with value
        new Vue({
            el: '#mix',
            data() {
                return {
                    dateDay: document.getElementById("day").innerHTML = day,
                }
            }
        });
    </script>

    <!-- User enters task/ input -->
    <div class="create-todo" id="todo">
        <h3 style="padding-left: 2%; color:  #1e3b51;">CREATE A TO DO</h3>
        <header>
            <section id="new-todo-form">
                <!-- Form input binding using v-model -->
                <input type="text" placeholder="ENTER TASK" autofocus class="text-input" v-model="task.text" />

                <!-- EVENT HANDLING, Listen to the @click for an event -->
                <!-- submit task button -->
                <button class="buttonsubmitnote" @click="addTask">Submit</button>
            </section>
        </header>

        <!-- options for removing tasks-->
        <!-- LIST RENDERING V-FOR declares the index variable & v-for maps elements-->
        <div class="options">
            <div v-for="(task, index) in tasks">
                <div class="taskedit">
                    <!-- delete task -->
                    <button class="close" @click="removeTask(index)"></button>
                </div>
                {{task.text}}
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="footer">
        <!-- Button to print -->
        <button class="printpage" onclick="window.print()">Print</button>
        <h4>LIST IT &copy 2022</h4>
    </div>
</body>

</html>

<script src="./main.js"></script>