<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- External CSS Link -->
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!-- Responsive Website consideration to device width  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- External fonts  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- JavaScript Vue -->
    <script src="./main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Awesome Font icons royalty free W3Schools -->
    <!-- https://www.w3schools.com/icons/fontawesome_icons_webapp.asp -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LIST-IT</title>
</head>

<body>
    <!-- Header/ logo Section -->
    <header class="logo">
        <a href="./index.html">
            <h4 style="text-align:center; font-size: 30px; padding-top: 5%; padding-bottom: 5%; color:  #1e3b51;">
                LIST-IT</h4>
        </a>
    </header>

    <!-- Navigation -->
    <div class="nav">
        <ul>
            <li><a href="./profile.html"><i class="fa fa-user-o" style="font-size:48px;color:black"></i></a></li>
            <li><a href="./index.html"><i class="fa fa-plus-square-o" style="font-size:48px;color:black"></i></a></li>
            <li><a href="./timer.html"><i class="fa fa-reorder" style="font-size:48px;color:black"></i></a></li>
            <li><a href="./notes.html"><i class="fa fa-sticky-note-o" style="font-size:48px;color:black"></i></a></li>
        </ul>
    </div>
    <div class="border"></div>

    <!-- Date Header -->
    <div class="header">
        <div>
            <h1 class="dailytaskheader">DAILY TASKS</h1>
            <h2 class="title">Hello, <input type="text" id="name" placeholder="Enter name" style="padding-top: 5%;">
            </h2>
        </div>


        <!-- day -->
        <p id="day"></p>
        <script>
            const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            const fullday = new Date();
            let day = days[fullday.getDay()];
            document.getElementById("day").innerHTML = day;
        </script>

        <!-- year -->
        <p id="date"></p>
        <script>
            const date = new Date();
            document.getElementById("date").innerHTML = date;
        </script>
    </div>


    <!-- User enters task/ input -->
    <div class="create-todo" id="todo">
        <h3 style="padding-left: 2%; color:  #1e3b51;">CREATE A TO DO</h3>
        <header>
            <section id="new-todo-form">
                <h4>Whats on your to do list today?</h4>

                <input type="text" placeholder="ENTER TASK" autofocus class="text-input" v-model="task.text" />

                <button class="buttonsubmitnote" @click="addTask">Submit</button>
            </section>
        </header>

        <!-- options for removing tasks-->
        <div class="options">
            <div v-for="(task, index) in tasks">
                <div class="top">
                    <button class="close" @click="removeTask(index)"></button>
                </div>
                {{task.text}}
            </div>
        </div>
    </div>
    </div>
</body>

</html>

<script src="./main.js"></script>